<template name="person">
  <div class="col-xs-18 col-sm-4 col-md-3">
    <div class="productbox">
      <div class="imgthumb img-responsive">
        <img src="{{filename}}" class="img-responsive margin "  alt="alt-text">
      </div>
      <div class="caption">
        <h3>{{Name}}</h3>
        <a href="/" data-type="vimeo"	data-remote="{{pathFor 'personDescription'}}"  data-width="700" data-toggle="lightbox" data-gallery="remoteload"><h4>Click for more</h4></a>
      </div>
    </div>
  </div>
</template>
