<template name="test">
  <div class="row">
      <div class="col-lg-5 ">
          <div class="media">
              <a class="pull-left" href="#">
                  <img class="media-object dp " src="jackson-ng3.jpg" style="width: 140px;height:200px;">
              </a>
              <div class="media-body">
                  <h4 class="media-heading"> {{Name}} <small> {{Chinese}}</small></h4>
                  <h4>{{jobTitle}}, <a href="http://gridle.in">{{Organisation}}</a></h4>
                  <h6>{{Description}}</h6>
                  <h6>After graduating from university, he worked full time as a lawyer before being active in politics. He is equally fluent in English, Mandarin and Cantonese and has a working knowledge of Dutch. He writes and speaks regularly on social, business and political issues relating to Britain and China. </h6>
                  <hr style="margin:8px auto">
                  <span class="label label-default">Business</span>
                  <span class="label label-default">Community</span>
                  <span class="label label-info">Law</span>
                  <span class="label label-default">Politics</span>
              </div>
          </div>

      </div>
  </div>
</template>
